*{
    padding: 0%;
    margin: 0%;
}
body{
    position: relative;
    height:980px;
    color: grey;
}
nav{
    display: flex;
    justify-content: space-around;
    width:20%;
    margin-left: auto;
    padding: 0.3em;
}
a{
    color: grey;
    text-decoration: none;
    font-size: 12px;
}
a:hover{
    text-decoration: underline;
}
nav img{
    height: 25px;
}
nav button{
    width: 25%;
    padding: 0.4em;
    color: white;
    background-color: rgb(35, 110, 223);
    border-radius: 3px;
    border: none;
}
main{
    width: 50%;
    margin: 9em auto;
    text-align: center;
}
main img{
    width: 30%;
}
input{
    width: 65%;
    margin: 1em;
    padding: 1em;
    border-radius: 70px;
    border: 1px solid rgb(202, 202, 202);
}
input:hover{
    box-shadow: 1px 1px #cac6c6;
    border: 1px solid #cac6c6;
}
.btn_container{
    margin-top: 1em;
}
.btn_container button{
    padding: 0.47em;
    border: none;
    margin-left: 1em;
    color: rgb(109, 105, 105);
}
button:hover{
    border: 0.01px solid #cac6c6;
    border-radius: 5px;
}
footer{
    background-color: rgb(233, 227, 227);
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer_top{
    padding: 1em;
}
.footer_buttom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}
.right{  
    width: 20%;
    display: flex;
    justify-content: space-between;  
}
.right a{
    margin-right: 1em;
}
.center{  
    width: 25%;
    display: flex;
    justify-content: center;  
}
.center img{
    width: 5.3%;
}
.left{  
    width: 30%;
    display: flex;
    justify-content: space-between;  
}
.left a{
    margin-right: 1em;
    
}

